 {
  font-family: "Lora", serif;
  font-family: "Playfair Display", serif;
  font-family: "Work Sans", sans-serif;
}

header {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.menu {
  display: flex;
  justify-content: space-around;
  width: 70%;
  grid-column-start: 1;
  grid-column-end: 2;
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: #333333;
}
.logo-header {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: auto;
}
.carrito a {
  text-decoration: none;
  color: #333333;
}
.carrito {
  display: flex;
  align-items: center;
  grid-column-start: 3;
  grid-column-end: 4;
  margin-left: auto;
  margin-right: 15%;
}
.carrito .imgfle {
  width: 70%;
  height: 65%;
  margin-top: 4%;
}
.carrito .imgcar {
  width: 100%;
  height: 70%;
}
.box-1 {
  background-image: url(./Imagenes/slider-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 720px;
  margin: 2% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-1 h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}
.box-1 p a {
  font-family: "Lora", serif;
  color: #000000;
  font-weight: bold;
}
.box-2 {
  height: 27px;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
  margin-top: 50px;
}

.box-2-img-1 {
  height: 270px;
}
.content-1 a {
  width: 570px;
  text-decoration: none;
}
.content-1 {
  background-image: url(./Imagenes/banner-1.png);
  background-repeat: no-repeat;
  width: 600px;
  height: 280px;
  justify-content: left;
}
.content-2 a {
  width: 570px;
  text-decoration: none;
}
.content-2 {
  background-image: url(./Imagenes/banner-2.png);
  background-repeat: no-repeat;
  width: 600px;
  height: 280px;
  justify-content: left;
}

.box-2 a h3 {
  font-family: "Lora", serif;
  color: #529f0f;
  margin-left: 8%;
  margin-top: 90px;
  font-size: 40px;
  text-decoration: none;
  font-weight: lighter;
}
.box-2 a p {
  font-family: "Lora", serif;
  margin-left: 8%;
  color: #333333;
  font-weight: bold;
  margin-top: -30px;
}
.box-3 {
  background-image: url(./Imagenes/bg-1.jpg);
  background-position: center;

  margin: 2% 2%;
  margin-top: 400px;
  height: 700px;
  gap: 5px;
}
.box-3-products {
  position: relative;
  height: 250px;
  text-align: center;
}
.box-3-products h3 {
  margin-bottom: 0px;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  color: #333333;
}
.box-3-products p {
  font-size: 18px;
  color: #575757;
  font-family: "Lora", serif;
}
.products-box {
  display: flex;
  margin: -80px;
  justify-content: center;
}
.products-box a {
  text-decoration: none;
}
.product-img-1 {
  margin-right: 30px;
}

.product-img-1 p {
  text-align: center;
  position: relative;
  color: rgb(250, 245, 245);
  top: -290px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background: #529f0f;
  border-radius: 360%;
}
.img-text {
  color: #575757;
  position: relative;
  top: -50px;
}
.img-text1 {
  color: #575757;
  position: relative;
  top: 30px;
}
span {
  color: #000000;
}
.product-img-2 {
  margin-right: 50px;
  width: 250px;
  height: 250px;
}
.product-img-3 {
  margin-right: 30px;
  width: 250px;
  height: 250px;
}
.product-img-4 {
  width: 250px;
  height: 250px;
}
